.weather-card {
  width: 20rem;
  background-color: var(--grey-white);
  box-shadow: 0 0 1em #0000002f;
  padding: 1.5em 1em;
  border-radius: 1em;

  .location-info,
  .time-info {
    text-align: center;
  }

  .location-container {
    --line-multiplier: 1.2;
    height: calc(2em * var(--line-multiplier));
    line-height: calc(2em * var(--line-multiplier));
  }

  .location-info {
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    line-height: var(--line-multiplier);
  }

  .time-info {
    margin-top: 0.5em;
    color: var(--grey-midtone);
  }

  figure {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 1em auto 1.5em;
  }

  .spin {
    transform-origin: center;
    animation: spin 1s linear infinite;
  }

  ul.data-list {
    list-style: none;
    margin-top: 1em;
    padding: 0 0.5em 0 0.3em;
  }

  li.data-item {
    display: flex;
    padding: 0;

    + li.data-item {
      margin-top: 1em;
    }
  }

  img.data-icon,
  h4.data-title,
  p.data-text {
    display: inline;
  }

  figcaption.card-description {
    margin-top: 1rem;
    color: var(--grey-midtone);
  }

  img.data-icon {
    --size: 1.6em;
    height: var(--size);
    width: var(--size);
    margin-right: 0.4em;
  }

  p.data-text {
    margin-left: auto;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
